<!DOCTYPE html>
<html>
  <link
    href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAACBoYANTV1gCDkKMAX3CHAGfw4gDd6+kAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARERERERERERERDNDQ0RURARDRERERDRABDRFQzNEQ0AAREM0RDNEAAJENEREVDQAIABEREREAAACAEQzM0QCACAAA1REMAAgAAAgNEQAAAIAAgRDQAAAAgAgAEMAAAAgAAIgAABgAgAAAAIAARAgAAAAIAAAYAIAAAIAAAAAACAAAAAAAAAAAIABAACAAQAAwAMAAIADAABwDwAAsAsAAHgdAAD0PgAA6H4AANz9AADn2wAA+5cAAPfbAADv/QAA"
    rel="icon"
    type="image/x-icon"
  />
  <head>
    <meta charset="UTF-8" />
    <title>This Reeks</title>
    <link rel="import" href="topbar.html" id="topbar" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>

  <body
    style="
      background: url('https://drive.google.com/uc?export=view&id=1kDVvJ2n8OTK7vwoOUFOuNk2Q5nDLitP9')
        no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    "
  >
    <div class="container-xl bg-light border rounded my-3">
      <div class="p4">
        <h1
          class="text-center mt-4 mx-5 pb-1 text-warning border-bottom border-secondary fw-bold"
        >
          Welcome to This Reeks!
        </h1>
      </div>

      <div class="row px-4 py-0">
        <div class="col-3 p-4">
          <form action="/" method="POST" target="my_iframe">
            <div class="form-group">
              <div class="textInput">
                <label class="mt-3 mb-3" for="headlineInput"
                  >Type or paste the headline you want to check!</label
                >
                <textarea
                  class="form-control"
                  id="headlineInput"
                  name="headline"
                  aria-label="With textarea"
                  maxlength="150"
                  rows="5"
                  onfocus="this.value=''"
                >
Headline...</textarea
                >
                <button
                  class="btn btn-warning bg-gradient py-3 px-4 mt-3 fw-bold"
                  type="submit"
                >
                  Does it reek?
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-9 p-4">
          <iframe
            class="w-100"
            name="my_iframe"
            src=""
            scrolling="no"
            height="650"
          ></iframe>
        </div>
      </div>

      <div class="row pt-0 pb-4 px-5 justify-content-center">
        <div class="col-12 pt-0 pb-4 px-4 rounded bg-warning bg-opacity-25">
          <h3 class="text-center text-warning mt-2 mb-0 p-3">
            Today's top bullshit:
          </h3>
          <h3 class="text-left text-warning">
            <form action="/GBHeadlines" method="POST" target="headlines_iframe">
              <button id="modal" data-modal="modal">
                <i class="flag flag-united-kingdom" type="submit"></i>
              </button>
            </form>
            <form action="/USHeadlines" method="POST" target="headlines_iframe">
              <button>
                <i class="flag flag-united-states" type="submit"></i>
              </button>
            </form>

            <form
              action="/TopicHeadlines"
              method="POST"
              target="headlines_iframe"
            >
              <div class="form-group">
                <div class="inputTopic">
                  <textarea
                    class="form-control"
                    id="topicInput"
                    name="inputTopic"
                    aria-label="With textarea"
                    maxlength="150"
                    rows="5"
                    onfocus="this.value=''"
                  >
  Topic...</textarea
                  >
                  <button
                    class="btn btn-warning bg-gradient py-3 px-4 mt-3 fw-bold"
                    type="submit"
                  >
                    Search Topic
                  </button>
                </div>
              </div>
            </form>
          </h3>
          <div>
            <iframe
              class="w-200"
              name="headlines_iframe"
              src=""
              scrolling="no"
              width="900"
              height="650"
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script>
      jQuery(function () {
        jQuery("#modal").click();
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"
    ></script>
  </body>
</html>
