<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>This Reeks</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="import" href="topbar.html" id="topbar">
      </head>
      <body>
      
        <top-bar>This Reeks</top-bar>
        <h3>welcome to This Reeks!</h3> 
        <form action="/home" method="POST">
          <div class="textInput">
              <label for="headlineInput">Type Your Headline</label>
              <input type="text" name="headline" placeholder="Headline here">
              <button type="submit" class="btn btn-primary">Submit</button>
              </div>
        </form>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      </body>
      
      
      
      </html>