<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>This Reeks</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    />
    <link rel="import" href="topbar.html" id="topbar" />
  </head>
  <body>
    <top-bar>This Reeks</top-bar>
    <h3>welcome to This Reeks!</h3>
    <!-- <form action="/" method="POST"> -->
    <div class="textInput">
      <label for="headlineInput">Type Your Headline</label>
      <input type="text" name="headline" placeholder="Headline here" />
      <button
        type="submit"
        name="submitButton"
        id="submitButton"
        class="btn btn-primary"
      >
        Submit
      </button>
    </div>

    <div
      data-toggle="collapse"
      name="resultDiv"
      class="card text-white bg-primary col d-flex"
      style="max-width: 30rem"
    >
      <div class="card-header">"<%=headline%>"</div>
      <div class="card-body">
        <h5 class="card-title">BullShit Stats</h5>
        <p class="card-text"><%= result %></p>
      </div>
    </div>

    <!-- </form> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
