<head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
</head>
<body>
  <div class="container-xl border">
    <div class="col-8 p-4">
      <div name="resultDiv" class="card">
        <div class="card-header text-white bg-primary bg-gradient fw-bold">
          "<%=headline%>"
        </div>
        <div class="card-body bg-secondary bg-opacity-25">
          <p class="card-title fw-bold">BullShit Stats</p>
          <p class="card-text"><%= result %></p>
        </div>
      </div>
    </div>

    <div class="col-8 p-4">
      <div name="resultDiv" class="card">
        <div class="card-header text-white bg-primary bg-gradient fw-bold">
          "<%=headline%>"
        </div>
        <div class="card-body bg-secondary bg-opacity-25">
          <p class="card-title fw-bold">Results from Google API</p>
          <p class="card-text"><%= googleContent %></p>
        </div>
      </div>
    </div>
  </div>
</body>
