<div
  name="resultDiv"
  class="card text-white bg-primary col d-flex"
  style="max-width: 30rem"
>
  <div class="card-header">"<%=headline%>"</div>
  <div class="card-body">
    <h5 class="card-title">BullShit Stats</h5>
    <p class="card-text"><%= result %></p>
  </div>
</div>
